body{
    font-family: 'Cabin', sans-serif;
    color: #000;
    background: #54869b;;
}

header{
    width: auto;
    background: #67c4c0;
    padding: 10px 20px 0 20px;
}

.contenedor-titulo{
    display: block;
    padding: 5px 10px 0 0;
    margin: 0 15px;
}

h1{
    font-size: 2em;
    font-weight: 900;
}

main{
    background: linear-gradient(#67c4c0, #54869b);
}

.caja{
    width: 90%;
    margin: auto;
}

.encriptador, .resultado{
    display: inline-block;
    width: 55%;
    padding: 20px;
    margin: 10px 0;
    text-align: center;
}

.resultado{
    width: 35%;
}

.contenido-encriptador{
    width: 100%;
    margin: 0 0 2em 0;
}

textarea{
    resize: none;
    width: 95%;
    height: 320px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: lightskyblue;
    box-shadow: -2px -3px 13px 3px #224d5f;
    font-size: 1.3rem;
    transition: 1s;
}

.encriptador p{
    font-size: 1.2rem;   
    font-style: italic;
    margin-bottom: 10px;
}

.encriptador p::before{
    content: "❗";
}

.contenido-botones{
    padding: 10px 0 10px 0;
}

.boton{
    width: 45%;
    height: 50px;
    padding: 10px;
    margin: 0 2% 0 0;
    font-size: 1.3em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background: #6ec3e8;
    cursor: pointer;
}

.boton:hover{
    transition: 0.5s;
    background: #56b0d6;
    transform: scale(1.05);
}

.boton:active{
    background: #486e7e;
}

.area-resultado{
    width: 100%;
}

.contenedor-resultado{
    padding: 25px;
}
.lista-resultado li{
    width: 60%;
    height: 320px;
    box-shadow: 9px -5px 16px 3px #224d5f;
    background-color: #6ec3e8;
    border: 2px solid #000;
    padding: 15px;
    margin: auto;
    margin-bottom: 60px;
    transition: 1s;
}

.imagen-resultado{
    width: 70%;
    text-align: center;
}

.lista-resultado li h2{
    width: 100%;
    padding: auto;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(60, 16, 162);
}

#mensaje-encriptado{
    font-size: 1.3em;
    height: 320px;
    text-align: left;
    width: 100%;
    transition: 1s;
    overflow: auto;
}

#mensaje-encriptado img, #mensaje-encriptado h2{
    display: none;
}

#boton-copiar{
    width: 60%;
    margin-left: 10px;
}

.contenedor-footer{
    width: 70%;
    padding: 0 0 20px 20px ;
    margin: 0 0 10px 10px;
}

.contenedor-footer img{
    width: 30px;
    margin: auto;
}

.contenedor-footer a{
    margin-left: 10px;
}

.contenedor-footer a:hover{
    text-decoration: underline;
}

@media screen and (max-width:480px) {
    .contenedor-titulo{
        text-align: center;
        padding: 20px;
    }

    .caja{
        text-align: center;
    }

    .encriptador, .contenido-desencriptado ,.lista-resultado, .contenedor-titulo{
        width: auto;
    }

    .resultado{
        width: 100%;
    }

    .boton{
        display: inline;
        width: 70%;
        margin-bottom: 10px;
        font-size: 1.1em;
        padding: auto;
    }

    .resultado ,.lista-resultado{
        padding: 0;
        padding-bottom: 25px;;
    }

    .lista-resultado li{
        height: auto;
    }

    #mensaje-encriptado{
        width: 80%;
    }

    #mensaje-encriptado img, #mensaje-encriptado h2{
        height: 320px;
    }
}

@media screen and ((max-width:939px) and (min-width:480px)){
    .contenedor-titulo{
        text-align: center;
        padding: 20px;
    }
    .caja{
        text-align: center;
    }

    .resultado{
        width: 70%;
        padding-top: 0;
    }

    .lista-resultado li{
        width: 60%;
        height: auto;
    }

    #mensaje-encriptado{
        width: 70%;
    }

    #mensaje-encriptado img, #mensaje-encriptado h2{
        height: 320px;
    }

    .boton{
        font-size: 1em;
    }

    #boton-copiar{
        width: 30%;
    }
}